.mentions-table-container {
  overflow-x: auto;
}

.mentions-table {
  border-collapse: collapse;
  width: 100%;
}

.mentions-table th, 
.mentions-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.mentions-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.mentions-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

@media (max-width: 600px) {
  .mentions-table {
     width: 100%; 
  }
}

#loader {
  text-align: center;
  padding: 2rem;
}

#load-more-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed; 
}